<?xml version="1.0" encoding="UTF-8"?>


<suite name="testsuite" verbose="3">
    <test name="testcases">
        <classes>
       <groups>
       <run>
       
       <include name="Moto"></include>
       <include name="Vivo"></include>
       </run>
       </groups>
       <class name="testNG.Grouping_Example"></class>
       
        </classes>
    </test>
</suite>



 <!-- <class name="testNG.DependenciesManagement"/>  
        <class name="testNG.Drive_A_Car"/>
          <class name="testNG.SimpleTestCase"/>  
            <class name="testNG.SkipATestCase"/>  
            <class name="testNG.SuiteExample"></class>  -->